﻿@{
    ViewBag.Title = "Xác thực email";
}   \
<br />
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <h2>@ViewBag.Title.</h2>
            <div>
                <h4>
                    Xác thực thành công. @Html.ActionLink("Xin Click vào đây", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })  để đăng nhập
                </h4>
            </div>
        </div>
    </div>
</div>
