﻿@{
    ViewBag.Title = "Xác thực email";
}
<br />
<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <h2>@ViewBag.Title.</h2>
            <div>
                <h4>
                    Vui lòng vào địa chỉ email đã đăng ký để xác thực tài khoản.
                </h4>
                Bạn phải xác thực bằng tài khoản bằng email trước khi có thể đăng nhập! Cảm ơn!
            </div>
        </div>
    </div>
</div>
