﻿<div class="col-md-3">
    <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Contest")"><i class="glyphicon glyphicon-wrench"></i> Quản lý cuộc thi</a>
    <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Departments")"><i class="glyphicon glyphicon-list"></i> Quản lý đơn vị</a>
    <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Contestants")"><i class="glyphicon glyphicon-education"></i> Quản lý thí sinh</a>
    <a class="btn btn-primary btn-block" href="@Url.Action("Management", "Account")"><i class="glyphicon glyphicon-user"></i> Quản lý tài khoản</a>
    <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Notifications")"><i class="glyphicon glyphicon-bell"></i> Thông báo</a>
    <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Statistics")"><i class="glyphicon glyphicon-stats"></i> Thống kê</a>

</div>