﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vote</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderSection("topmost", false)
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-weight:bold; font-size:large">
                    <li>@Html.ActionLink("Bình chọn", "Index", "Vote")</li>
                    <li>@Html.ActionLink("Xếp hạng", "Index", "Rank")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <marquee direction="right">

        <H5 style="color:red">THÔNG BÁO: THỜI GIAN BÌNH CHỌN SẼ KÉO DÀI ĐẾN HẾT 16:00 NGÀY 1/12/2015</H5>

    </marquee>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="color:black">

            Copy right &copy; @DateTime.Now.Year - Charming HCMUTE 2015

            <div class="pull-right" style="padding-right: 20px;">
                Online
                <script id="_wau4zg">
                    var _wau = _wau || []; _wau.push(["classic", "2a2y9klcsp3j", "4zg"]);
                    (function () {
                        var s = document.createElement("script"); s.async = true;
                        s.src = "http://widgets.amung.us/classic.js";
                        document.getElementsByTagName("head")[0].appendChild(s);
                    })();</script>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
