﻿@model IEnumerable<VoteApp.Models.Contestant>

@{
    ViewBag.Title = "Thêm thí sinh";
}

<h4 class="page-header">Admin - Quản lí thí sinh</h4>
<div class="row" style="min-height: 420px">
    @Html.Partial("_AdminLeftMenuPartial")
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-body">
                <p>
                    @Html.ActionLink("Thêm thí sinh", "Create", null, new { @class = "btn btn-primary" })
                </p>
                <table class="table table-bordered table-hover table-responsive table-striped">
                    <tr>
                        <th>
                            Mã số
                        </th>
                        <th>
                            Họ và tên
                        </th>
                        <th>Giới tính</th>
                        <th>Độ tuổi</th>
                        <th>Đơn vị</th>
                        <th>Nội dung thi</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @item.MS
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @(item.Sex?"Nam":"Nữ")
                            </td>
                            <td>
                                @item.Age
                            </td>
                            <td>
                                @item.cDepartment.Name
                            <td>
                                @(item.Couple ? "Thi đôi" : "Thi đơn")
                            </td>
                            <td>
                                @*@Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |*@
                                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
