﻿@model VoteApp.Models.RankViewModal
@{
    ViewBag.Title = "Kết quả";
    int stt = 1;
    int max = Model.Contestants.Max(s => s.Value.Count);
}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Kết quả thi đơn - A</h2>
            </div>
            <table class="table  table-hover table-responsive">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã số</th>
                        <th>Họ và tên</th>
                        <th>Bình chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Contestants.Keys.Contains(0))
                        {
                            foreach (var contestant in Model.Contestants[0])
                            {
                                <tr @string.Format("{0}", (stt == 1 ? "class=danger" : ""))>
                                    <td align="center">
                                        @stt
                                    </td>
                                    <td align="center">@contestant.MS</td>
                                    <td><a href="@Url.Action("Detail","Vote")/@contestant.MS">@contestant.Name</a> </td>
                                    <td align="center">@contestant.VotedCount</td>
                                </tr>
                                stt++;
                            }
                        }
                        for (; stt <= max; stt++)
                        {
                            <tr><td colspan="5">&nbsp;</td></tr>
                        }

                    }

                </tbody>
            </table>
            <div class="panel-footer">
                @if (Model.Voter.Keys.Contains(0))
                {
                    <div class="well">
                        Khán giả <strong>@Model.Voter[0].VotedUser.Email</strong>  đang có dự đoán chính xác nhất.
                        <p>
                            Dự đoán có @Model.Voter[0].VotedCount lượt bình chọn vào lúc @Model.Voter[0].Time.ToString("HH:mm:ss dd/MM/yyyy").
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Kết quả thi đơn - B</h2>
            </div>
            <table class="table  table-hover table-responsive">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã số</th>
                        <th>Họ và tên</th>
                        <th>Bình chọn</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        stt = 1;
                        if (Model.Contestants.Keys.Contains(1))
                        {
                            foreach (var contestant in Model.Contestants[1])
                            {
                                <tr @string.Format("{0}", (stt == 1 ? "class=danger" : ""))>
                                    <td align="center">@stt</td>
                                    <td align="center">@contestant.MS</td>
                                    <td><a href="@Url.Action("Detail","Vote")/@contestant.MS">@contestant.Name</a> </td>
                                    <td align="center">@contestant.VotedCount</td>
                                </tr>
                                stt++;
                            }
                        }
                        else
                        {
                            <p>ok</p>
                        }

                        for (; stt <= max; stt++)
                        {
                            <tr><td colspan="5">&nbsp;</td></tr>
                        }
                    }
                </tbody>
            </table>
            <div class="panel-footer">
                @if (Model.Voter.Keys.Contains(1))
                {
                    <div class="well">
                        Khán giả <strong>@Model.Voter[1].VotedUser.Email</strong>  đang có dự đoán chính xác nhất.
                        <p>
                            Dự đoán có @Model.Voter[1].VotedCount lượt bình chọn vào lúc @Model.Voter[1].Time.ToString("HH:mm:ss dd/MM/yyyy").
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Kết quả thi đôi</h2>
            </div>
            <table class="table  table-hover table-responsive">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã số</th>
                        <th>Họ và tên</th>
                        <th>Bình chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        stt = 1;
                        if (Model.Contestants.Keys.Contains(2))
                        {
                            foreach (var contestant in Model.Contestants[2])
                            {
                                <tr @string.Format("{0}", (stt == 1 ? "class=danger" : ""))>
                                    <td align="center">@stt</td>
                                    <td align="center">@contestant.MS</td>
                                    <td><a href="@Url.Action("Detail","Vote")/@contestant.MS">@contestant.Name</a> </td>
                                    <td align="center">@contestant.VotedCount</td>
                                </tr>
                                stt++;
                            }
                        }
                        stt *= 2;
                        for (; stt <= max; stt++)
                        {
                            <tr><td colspan="5">&nbsp;</td></tr>
                        }
                    }
                </tbody>
            </table>
            <div class="panel-footer">
                @if (Model.Voter.Keys.Contains(2))
                {
                    <div class="well">
                        Khán giả <strong>@Model.Voter[2].VotedUser.Email</strong>  đang có dự đoán chính xác nhất.
                        <p>
                            Dự đoán có @Model.Voter[2].VotedCount lượt bình chọn vào lúc @Model.Voter[2].Time.ToString("HH:mm:ss dd/MM/yyyy").
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
