﻿@{
    ViewBag.Title = "Thông báo";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="row" style="min-height: 420px">
        @Html.Partial("_AdminLeftMenuPartial")
        <div class="col-md-9">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Danh sách thông báo
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <a class="btn btn-primary" href="#">Thêm thông báo</a>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
