﻿@model VoteApp.Models.Department

@{
    ViewBag.Title = "Xóa đơn vị";
}

<h2>Xóa đơn vị</h2>

<h3>Bạn có chắc muốn xóa đơn vị này?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trờ về trang quản lí", "Index")
        </div>
    }
</div>
