﻿body {
    padding-top: 64px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.info-box {
    position: relative;
    height: 250px;
}

@media only screen and (max-width: 720px) {
    .info-box{
        height: 100%;
        padding: 10px;
    }
}
