﻿@{
    ViewBag.Title = "Liên hệ";
}
<br />
<div class="row">
    <div class="panel">
        <div class="panel-body">

            <address>
                <h3>Công đoàn Trường Đại học Sư phạm Kỹ thuật - Tp.HCM</h3>
                <hr />
                <strong>Địa chỉ:</strong> 1 Võ Văn Ngân, Quận Thủ Đức, Thành Phố Hồ Chí Minh, P.A1-507, Lầu 5, Tòa nhà trung tâm<br />
               
                <strong> Điện thoại: </strong>0913168121 (Nguyễn Nam Thắng - Trưởng phòng Hành chính - Tổng hợp)
                <br />
                <strong> Email hỗ trợ, giải đáp thắc mắc:</strong>   <a href="mailto:thangspkt@gmail.com">thangspkt@gmail.com</a>
            </address>
            <div>
                <strong>Bản đồ</strong>
                <br />
                <iframe  class="btn-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.494550354751!2d106.7716882!3d10.849939500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175277569932657%3A0x7a4d67bcb7e79b6a!2sHCMUTE!5e0!3m2!1sen!2s!4v1441677243371" height="500" frameborder="0" style="border: 0px;"></iframe>
            </div>
        </div>
    </div>
</div>