﻿@model VoteApp.Models.Contest
@{
    ViewBag.Title = "Quản lí cuộc thi";
}

<div class="row" style="min-height: 420px">
    @Html.Partial("_AdminLeftMenuPartial")
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       
                         @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <label class="control-label col-md-2" for="StartDate">Ngày bắt đầu</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="EndDate">Ngày kết thúc</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Lưu lại" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
